# .gitignore

assembler/assembler
assembler/assembler-bin
simulator/simulator
debug/debug
linker/linker-bin
VirtualMachine/VirtualMachine
VirtualMachine/*.o
VirtualMachine/MASMAPRG*
VirtualMachine/*.asm
VirtualMachine/*.hxp
tags
